body {
    background-color: rgb(134, 197, 134);
    text-align: center;
    font-family: 'Latin Modern';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 100px;
    font-size: 50px;
    text-decoration: underline;
    text-shadow: 5px -2px 2px rgb(166, 238, 151);
}

#btn-container {
    width: 300px;
    height: 300px;
    background-color: rgb(36, 35, 35);
    padding: 5px;
    border: 5px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.add {
    height: 120px;
    width: 60px
}

.clear, .result {
    width: 120px;
    height: 60px;
}

.result {
    margin-top: 60px;
}

#btn-container button {
    font-size: 25px;
}

#btn-container .button {
    width: 60px;
    height: 60px;
}

#screen {
    border: 5px solid black;
    height: 80px;
    background-color: rgb(51, 47, 47);
    color: rgb(1, 255, 1);
    font-size: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#calculator {
    padding: 10px;
    background-color: rgb(82, 74, 74);
    border-radius: 5px;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    height: 180px;
}

#operators {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    height: 120px;
}

#dz {
   display: flex;
    flex-wrap: wrap;
    width: 120px;
    height: 120px; 
}

